In [155]:
import pandas as pd
import numpy as np
from scipy import stats
from math import ceil
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [156]:
sample = pd.read_csv('sample_submission.csv')
sample

           date  rental
0    2021-01-01       0
1    2021-01-02       0
2    2021-01-03       0
3    2021-01-04       0
4    2021-01-05       0
..          ...     ...
360  2021-12-27       0
361  2021-12-28       0
362  2021-12-29       0
363  2021-12-30       0
364  2021-12-31       0

[365 rows x 2 columns]

In [157]:
test = pd.read_csv('test.csv')
test

,date,precipitation,temp_mean,temp_highest,temp_lowest,PM10,PM2.5,humidity,sunshine_sum,sunshine_rate,wind_mean,wind_max
0,2021-01-01,NaN,-4.2,1.6,-9.8,30.0,17.0,64.0,6.5,67.7,2.0,4.1
1,2021-01-02,NaN,-5.0,-1.4,-8.4,34.0,12.0,38.5,9.0,93.8,2.6,5.4
2,2021-01-03,NaN,-5.6,-2.0,-9.1,39.0,14.0,45.0,5.5,56.7,2.0,4.5
3,2021-01-04,0.0,-3.5,0.3,-8.4,40.0,23.0,51.4,4.6,47.4,1.7,3.2
4,2021-01-05,0.0,-5.5,-2.1,-9.9,30.0,17.0,52.8,8.6,88.7,2.9,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...
360,2021-12-27,0.0,-7.6,-3.9,-12.9,33.0,20.0,60.9,3.8,39.6,1.7,3.1
361,2021-12-28,NaN,-4.1,-0.9,-8.5,51.0,38.0,73.8,1.7,17.7,2.2,3.1
362,2021-12-29,0.2,0.4,5.9,-3.8,66.0,49.0,72.9,1.8,18.8,2.6,5.9
363,2021-12-30,0.0,-3.9,0.2,-6.8,30.0,17.0,48.5,7.3,76.0,3.3,6.6
364,2021-12-31,NaN,-6.7,-3.9,-8.8,23.0,7.0,35.9,9.0,93.8,3.5,5.4

In [158]:
train = pd.read_csv('train.csv')
train

,date,precipitation,temp_mean,temp_highest,temp_lowest,PM10,PM2.5,humidity,sunshine_sum,sunshine_rate,wind_mean,wind_max,rental
0,2018-01-01,NaN,-1.3,3.8,-5.1,34.0,17.0,39.1,8.3,86.5,1.4,3.8,4950
1,2018-01-02,NaN,-1.8,1.8,-4.3,36.0,22.0,42.0,7.9,82.3,1.8,4.9,7136
2,2018-01-03,NaN,-4.7,-0.4,-7.1,31.0,19.0,42.3,8.6,88.7,2.2,3.5,7156
3,2018-01-04,NaN,-4.7,-0.7,-8.7,39.0,24.0,43.0,6.2,63.9,1.4,3.5,7102
4,2018-01-05,NaN,-3.0,1.6,-5.6,51.0,35.0,48.4,8.2,84.5,1.7,3.6,7705
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,2020-12-27,0.0,5.8,10.0,1.4,70.0,42.0,62.9,5.9,61.5,1.8,2.8,37103
1091,2020-12-28,1.3,6.7,11.4,4.2,66.0,44.0,72.1,8.0,83.3,1.4,3.1,46912
1092,2020-12-29,0.2,0.1,4.3,-6.2,69.0,46.0,70.8,0.0,0.0,2.9,6.1,35747
1093,2020-12-30,NaN,-10.9,-6.2,-12.9,39.0,15.0,55.5,8.3,86.5,4.1,6.2,22488
1094,2020-12-31,0.0,-8.9,-5.0,-12.9,28.0,12.0,53.9,6.0,62.5,2.4,4.2,24535

In [159]:
date=train['date'].tolist()
cnt=0
year=[]
month=[]
day=[]
year_=''
month_=''
day_=''
for _ in date:
    list=_.split('-')
    for i in range(3):
        if(i==0):

            year_+=list[i]
        
        elif(i==1):
            month_+=list[i]
        elif(i==2):
            day_+=list[i]
            
    year.append(int(year_))
    month.append(int(month_))
    day.append(int(day_))
    
    cnt+=1
    year_=''
    month_=''
    day_=''
train_=train.drop(columns='date')
train_['year']=year
train_['month']=month
train_['day']=day
train_

,precipitation,temp_mean,temp_highest,temp_lowest,PM10,PM2.5,humidity,sunshine_sum,sunshine_rate,wind_mean,wind_max,rental,year,month,day
0,NaN,-1.3,3.8,-5.1,34.0,17.0,39.1,8.3,86.5,1.4,3.8,4950,2018,1,1
1,NaN,-1.8,1.8,-4.3,36.0,22.0,42.0,7.9,82.3,1.8,4.9,7136,2018,1,2
2,NaN,-4.7,-0.4,-7.1,31.0,19.0,42.3,8.6,88.7,2.2,3.5,7156,2018,1,3
3,NaN,-4.7,-0.7,-8.7,39.0,24.0,43.0,6.2,63.9,1.4,3.5,7102,2018,1,4
4,NaN,-3.0,1.6,-5.6,51.0,35.0,48.4,8.2,84.5,1.7,3.6,7705,2018,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,0.0,5.8,10.0,1.4,70.0,42.0,62.9,5.9,61.5,1.8,2.8,37103,2020,12,27
1091,1.3,6.7,11.4,4.2,66.0,44.0,72.1,8.0,83.3,1.4,3.1,46912,2020,12,28
1092,0.2,0.1,4.3,-6.2,69.0,46.0,70.8,0.0,0.0,2.9,6.1,35747,2020,12,29
1093,NaN,-10.9,-6.2,-12.9,39.0,15.0,55.5,8.3,86.5,4.1,6.2,22488,2020,12,30
1094,0.0,-8.9,-5.0,-12.9,28.0,12.0,53.9,6.0,62.5,2.4,4.2,24535,2020,12,31

# 결측값 처리 . 
#결측값을 어디에서 어떤 식으로 했다.

In [160]:

train_.isnull().sum()

precipitation    678
temp_mean          0
temp_highest       0
temp_lowest        0
PM10              67
PM2.5             68
humidity           0
sunshine_sum       5
sunshine_rate      0
wind_mean          0
wind_max           0
rental             0
year               0
month              0
day                0
dtype: int64

In [161]:
#강수량 결측값 처리

In [162]:
train_precipitation=train_[['precipitation','month','humidity','sunshine_rate']]
test40=train_precipitation[(train_precipitation['humidity']<=40)&(train_precipitation['precipitation']!=0.0)&
                    train_precipitation['precipitation'].notnull()]
test40
train_precipitation=train_[['precipitation','month','humidity','sunshine_rate']]
test50=train_precipitation[(train_precipitation['humidity']<=50)&(train_precipitation['humidity']>40)&(train_precipitation['precipitation']!=0.0)&
                    train_precipitation['precipitation'].notnull()]
test50

train_precipitation=train_[['precipitation','month','humidity','sunshine_rate']]
test60=train_precipitation[(train_precipitation['humidity']<=60)&(train_precipitation['humidity']>50)&(train_precipitation['precipitation']!=0.0)&
                    train_precipitation['precipitation'].notnull()]

train_precipitation=train_[['precipitation','month','humidity','sunshine_rate']]
test70=train_precipitation[(train_precipitation['humidity']<=70)&(train_precipitation['humidity']>60)&(train_precipitation['precipitation']!=0.0)&
                    train_precipitation['precipitation'].notnull()]


train_precipitation=train_[['precipitation','month','humidity','sunshine_rate']]
test80=train_precipitation[(train_precipitation['humidity']<=80)&(train_precipitation['humidity']>70)&(train_precipitation['precipitation']!=0.0)&
                    train_precipitation['precipitation'].notnull()]

train_precipitation=train_[['precipitation','month','humidity','sunshine_rate']]
test90=train_precipitation[(train_precipitation['humidity']<=90)&(train_precipitation['humidity']>80)&(train_precipitation['precipitation']!=0.0)&
                    train_precipitation['precipitation'].notnull()]
train_precipitation=train_[['precipitation','month','humidity','sunshine_rate']]
test100=train_precipitation[(train_precipitation['humidity']<=100)&(train_precipitation['humidity']>90)&(train_precipitation['precipitation']!=0.0)&
                    train_precipitation['precipitation'].notnull()]

#test60
#test70
#test80
#test90
#test100
#test 40~100
#습도가 50이하인 데이터들

#**********40********
#습도가 40 이하인 데이터의 강수랑 평균값    
avr_pre40=test40['precipitation'].mean()
avr_pre40=round(avr_pre40,1)
avr_pre40
#**********50********
#습도가 50 이하인 데이터의 강수랑 평균값    
avr_pre50=test50['precipitation'].mean()
avr_pre50=round(avr_pre50,1)
avr_pre50
           
#**********60********
#습도가 60 이하인 데이터의 강수랑 평균값    
avr_pre60=test60['precipitation'].mean()
avr_pre60=round(avr_pre60,1)
avr_pre60
           
#**********70********
#습도가 70 이하인 데이터의 강수랑 평균값    
avr_pre70=test70['precipitation'].mean()
avr_pre70=round(avr_pre70,1)
avr_pre70
           
#**********80********
#습도가 80 이하인 데이터의 강수랑 평균값    
avr_pre80=test80['precipitation'].mean()
avr_pre80=round(avr_pre80,1)
avr_pre80
#**********90********
#습도가 90 이하인 데이터의 강수랑 평균값    
avr_pre90=test90['precipitation'].mean()
avr_pre90=round(avr_pre90,1)
avr_pre90           
#**********100********
#습도가 100 이하인 데이터의 강수랑 평균값    
avr_pre100=test100['precipitation'].mean()
avr_pre100=round(avr_pre100,1)
avr_pre100

47.2

In [163]:

nan_precipitation=train_[train_['precipitation'].isnull()].index.tolist()
nan_precipitation

for i in nan_precipitation:
    test=train_.loc[i]
    if(test['humidity']<=40):
        train_.at[i,'precipitation']=avr_pre40
for i in nan_precipitation:
    test=train_.loc[i]       
    if(test['humidity']<=50 and test['humidity']>40):
        train_.at[i,'precipitation']=avr_pre50
for i in nan_precipitation:
    test=train_.loc[i]
    if(test['humidity']<=60 and test['humidity']>50):
        train_.at[i,'precipitation']=avr_pre60
        
for i in nan_precipitation:
    test=train_.loc[i]
    if(test['humidity']<=70 and test['humidity']>60):
        train_.at[i,'precipitation']=avr_pre70
        
for i in nan_precipitation:
    test=train_.loc[i]
    if(test['humidity']<=80 and test['humidity']>70):
        train_.at[i,'precipitation']=avr_pre80
        
for i in nan_precipitation:
    test=train_.loc[i]
    if(test['humidity']<=90 and test['humidity']>80):
        train_.at[i,'precipitation']=avr_pre90
        
for i in nan_precipitation:
    test=train_.loc[i]
    if(test['humidity']<=100 and test['humidity']>90):
        train_.at[i,'precipitation']=avr_pre100
  
        

train_

,precipitation,temp_mean,temp_highest,temp_lowest,PM10,PM2.5,humidity,sunshine_sum,sunshine_rate,wind_mean,wind_max,rental,year,month,day
0,1.1,-1.3,3.8,-5.1,34.0,17.0,39.1,8.3,86.5,1.4,3.8,4950,2018,1,1
1,2.3,-1.8,1.8,-4.3,36.0,22.0,42.0,7.9,82.3,1.8,4.9,7136,2018,1,2
2,2.3,-4.7,-0.4,-7.1,31.0,19.0,42.3,8.6,88.7,2.2,3.5,7156,2018,1,3
3,2.3,-4.7,-0.7,-8.7,39.0,24.0,43.0,6.2,63.9,1.4,3.5,7102,2018,1,4
4,2.3,-3.0,1.6,-5.6,51.0,35.0,48.4,8.2,84.5,1.7,3.6,7705,2018,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,0.0,5.8,10.0,1.4,70.0,42.0,62.9,5.9,61.5,1.8,2.8,37103,2020,12,27
1091,1.3,6.7,11.4,4.2,66.0,44.0,72.1,8.0,83.3,1.4,3.1,46912,2020,12,28
1092,0.2,0.1,4.3,-6.2,69.0,46.0,70.8,0.0,0.0,2.9,6.1,35747,2020,12,29
1093,2.8,-10.9,-6.2,-12.9,39.0,15.0,55.5,8.3,86.5,4.1,6.2,22488,2020,12,30
1094,0.0,-8.9,-5.0,-12.9,28.0,12.0,53.9,6.0,62.5,2.4,4.2,24535,2020,12,31

In [164]:
train_.isnull().sum()

precipitation     0
temp_mean         0
temp_highest      0
temp_lowest       0
PM10             67
PM2.5            68
humidity          0
sunshine_sum      5
sunshine_rate     0
wind_mean         0
wind_max          0
rental            0
year              0
month             0
day               0
dtype: int64

In [165]:
#일조합은 모두 일조율이 모두 0.0 그래서 nan 값 0으로 교체
sun_sum=train_[train_['sunshine_sum'].isnull()].index.tolist()
sun_sum
for i in sun_sum:
    sun_sum=train_.loc[i]
    train_.at[i,'sunshine_sum']=0.0
train_

,precipitation,temp_mean,temp_highest,temp_lowest,PM10,PM2.5,humidity,sunshine_sum,sunshine_rate,wind_mean,wind_max,rental,year,month,day
0,1.1,-1.3,3.8,-5.1,34.0,17.0,39.1,8.3,86.5,1.4,3.8,4950,2018,1,1
1,2.3,-1.8,1.8,-4.3,36.0,22.0,42.0,7.9,82.3,1.8,4.9,7136,2018,1,2
2,2.3,-4.7,-0.4,-7.1,31.0,19.0,42.3,8.6,88.7,2.2,3.5,7156,2018,1,3
3,2.3,-4.7,-0.7,-8.7,39.0,24.0,43.0,6.2,63.9,1.4,3.5,7102,2018,1,4
4,2.3,-3.0,1.6,-5.6,51.0,35.0,48.4,8.2,84.5,1.7,3.6,7705,2018,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,0.0,5.8,10.0,1.4,70.0,42.0,62.9,5.9,61.5,1.8,2.8,37103,2020,12,27
1091,1.3,6.7,11.4,4.2,66.0,44.0,72.1,8.0,83.3,1.4,3.1,46912,2020,12,28
1092,0.2,0.1,4.3,-6.2,69.0,46.0,70.8,0.0,0.0,2.9,6.1,35747,2020,12,29
1093,2.8,-10.9,-6.2,-12.9,39.0,15.0,55.5,8.3,86.5,4.1,6.2,22488,2020,12,30
1094,0.0,-8.9,-5.0,-12.9,28.0,12.0,53.9,6.0,62.5,2.4,4.2,24535,2020,12,31

In [166]:
train_.isnull().sum()

precipitation     0
temp_mean         0
temp_highest      0
temp_lowest       0
PM10             67
PM2.5            68
humidity          0
sunshine_sum      0
sunshine_rate     0
wind_mean         0
wind_max          0
rental            0
year              0
month             0
day               0
dtype: int64

In [167]:
#미세 먼지 결측값 처리
train_pm=train_[['PM10','PM2.5','month','sunshine_rate','sunshine_rate','wind_mean','wind_max']]


#******봄 미세먼지 평균****
spring_pm10=train_pm[(train_pm['PM10'].notnull())&(train_pm['month']>=3)&(train_pm['month']<=5)&(train_pm['PM10']!=0.0)]
spring_pm10_avr=spring_pm10['PM10'].mean()
spring_pm10_avr=round(spring_pm10_avr,1)
spring_pm10_avr

#******여름 미세먼지 평균****
summer_pm10=train_pm[(train_pm['PM10'].notnull())&(train_pm['month']>=6)&(train_pm['month']<=8)&(train_pm['PM10']!=0.0)]
summer_pm10_avr=summer_pm10['PM10'].mean()
summer_pm10_avr=round(summer_pm10_avr,1)
summer_pm10_avr

#******가을 미세먼지 평균****
fall_pm10=train_pm[(train_pm['PM10'].notnull())&(train_pm['month']>=9)&(train_pm['month']<=11)&(train_pm['PM10']!=0.0)]
fall_pm10_avr=fall_pm10['PM10'].mean()
fall_pm10_avr=round(fall_pm10_avr,1)
fall_pm10_avr

#******겨울 미세먼지 평균****
winter_pm10=train_pm[(train_pm['PM10'].notnull())&(train_pm['month']>=12)|(train_pm['month']<=2)&(train_pm['PM10']!=0.0)]
winter_pm10_avr=winter_pm10['PM10'].mean()
winter_pm10_avr=round(winter_pm10_avr,1)
winter_pm10_avr

46.2

In [168]:
nan_pm10=train_[train_['PM10'].isnull()].index.tolist()
nan_pm10

for i in nan_pm10:
    test=train_.loc[i]
    if(test['month']<=5 and test['month']>=3):
        train_.at[i,'PM10']=spring_pm10_avr
    elif(test['month']<=8 and test['month']>=6):
        train_.at[i,'PM10']=summer_pm10_avr
    elif(test['month']<=11 and test['month']>=9):
        train_.at[i,'PM10']=fall_pm10_avr
    elif(test['month']<=12 or test['month']>=2):
        train_.at[i,'PM10']=winter_pm10_avr
train_

,precipitation,temp_mean,temp_highest,temp_lowest,PM10,PM2.5,humidity,sunshine_sum,sunshine_rate,wind_mean,wind_max,rental,year,month,day
0,1.1,-1.3,3.8,-5.1,34.0,17.0,39.1,8.3,86.5,1.4,3.8,4950,2018,1,1
1,2.3,-1.8,1.8,-4.3,36.0,22.0,42.0,7.9,82.3,1.8,4.9,7136,2018,1,2
2,2.3,-4.7,-0.4,-7.1,31.0,19.0,42.3,8.6,88.7,2.2,3.5,7156,2018,1,3
3,2.3,-4.7,-0.7,-8.7,39.0,24.0,43.0,6.2,63.9,1.4,3.5,7102,2018,1,4
4,2.3,-3.0,1.6,-5.6,51.0,35.0,48.4,8.2,84.5,1.7,3.6,7705,2018,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,0.0,5.8,10.0,1.4,70.0,42.0,62.9,5.9,61.5,1.8,2.8,37103,2020,12,27
1091,1.3,6.7,11.4,4.2,66.0,44.0,72.1,8.0,83.3,1.4,3.1,46912,2020,12,28
1092,0.2,0.1,4.3,-6.2,69.0,46.0,70.8,0.0,0.0,2.9,6.1,35747,2020,12,29
1093,2.8,-10.9,-6.2,-12.9,39.0,15.0,55.5,8.3,86.5,4.1,6.2,22488,2020,12,30
1094,0.0,-8.9,-5.0,-12.9,28.0,12.0,53.9,6.0,62.5,2.4,4.2,24535,2020,12,31

In [169]:
train_.isnull().sum()

precipitation     0
temp_mean         0
temp_highest      0
temp_lowest       0
PM10              0
PM2.5            68
humidity          0
sunshine_sum      0
sunshine_rate     0
wind_mean         0
wind_max          0
rental            0
year              0
month             0
day               0
dtype: int64

In [170]:
#초미세 먼지 결측값 처리
train_pm=train_[['PM10','PM2.5','month','sunshine_rate','sunshine_rate','wind_mean','wind_max']]


#******봄 미세먼지 평균****
spring_pm2=train_pm[(train_pm['PM2.5'].notnull())&(train_pm['month']>=3)&(train_pm['month']<=5)&(train_pm['PM10']!=0.0)]
spring_pm2_avr=spring_pm10['PM2.5'].mean()
spring_pm2_avr=round(spring_pm10_avr,1)
spring_pm2_avr

#******여름 미세먼지 평균****
summer_pm2=train_pm[(train_pm['PM2.5'].notnull())&(train_pm['month']>=6)&(train_pm['month']<=8)&(train_pm['PM10']!=0.0)]
summer_pm2_avr=summer_pm10['PM2.5'].mean()
summer_pm2_avr=round(summer_pm10_avr,1)
summer_pm2_avr

#******가을 미세먼지 평균****
fall_pm2=train_pm[(train_pm['PM2.5'].notnull())&(train_pm['month']>=9)&(train_pm['month']<=11)&(train_pm['PM10']!=0.0)]
fall_pm2_avr=fall_pm10['PM2.5'].mean()
fall_pm2_avr=round(fall_pm10_avr,1)
fall_pm2_avr

#******겨울 미세먼지 평균****
winter_pm2=train_pm[(train_pm['PM2.5'].notnull())&(train_pm['month']>=12)|(train_pm['month']<=2)&(train_pm['PM10']!=0.0)]
winter_pm2_avr=winter_pm10['PM2.5'].mean()
winter_pm2_avr=round(winter_pm10_avr,1)
winter_pm2_avr

46.2

In [171]:
nan_pm2=train_[train_['PM2.5'].isnull()].index.tolist()
nan_pm2

for i in nan_pm2:
    test=train_.loc[i]
    if(test['month']<=5 and test['month']>=3):
        train_.at[i,'PM2.5']=spring_pm2_avr
    elif(test['month']<=8 and test['month']>=6):
        train_.at[i,'PM2.5']=summer_pm2_avr
    elif(test['month']<=11 and test['month']>=9):
        train_.at[i,'PM2.5']=fall_pm2_avr
    elif(test['month']<=12 or test['month']>=2):
        train_.at[i,'PM2.5']=winter_pm2_avr
train_

,precipitation,temp_mean,temp_highest,temp_lowest,PM10,PM2.5,humidity,sunshine_sum,sunshine_rate,wind_mean,wind_max,rental,year,month,day
0,1.1,-1.3,3.8,-5.1,34.0,17.0,39.1,8.3,86.5,1.4,3.8,4950,2018,1,1
1,2.3,-1.8,1.8,-4.3,36.0,22.0,42.0,7.9,82.3,1.8,4.9,7136,2018,1,2
2,2.3,-4.7,-0.4,-7.1,31.0,19.0,42.3,8.6,88.7,2.2,3.5,7156,2018,1,3
3,2.3,-4.7,-0.7,-8.7,39.0,24.0,43.0,6.2,63.9,1.4,3.5,7102,2018,1,4
4,2.3,-3.0,1.6,-5.6,51.0,35.0,48.4,8.2,84.5,1.7,3.6,7705,2018,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,0.0,5.8,10.0,1.4,70.0,42.0,62.9,5.9,61.5,1.8,2.8,37103,2020,12,27
1091,1.3,6.7,11.4,4.2,66.0,44.0,72.1,8.0,83.3,1.4,3.1,46912,2020,12,28
1092,0.2,0.1,4.3,-6.2,69.0,46.0,70.8,0.0,0.0,2.9,6.1,35747,2020,12,29
1093,2.8,-10.9,-6.2,-12.9,39.0,15.0,55.5,8.3,86.5,4.1,6.2,22488,2020,12,30
1094,0.0,-8.9,-5.0,-12.9,28.0,12.0,53.9,6.0,62.5,2.4,4.2,24535,2020,12,31

In [172]:
train_.isnull().sum()

precipitation    0
temp_mean        0
temp_highest     0
temp_lowest      0
PM10             0
PM2.5            0
humidity         0
sunshine_sum     0
sunshine_rate    0
wind_mean        0
wind_max         0
rental           0
year             0
month            0
day              0
dtype: int64

In [173]:
train_
#승원이 임무는 정리하자면, feature year, month_day 로 쪼개고 date 는 drop 하기. 
#결측값 처리 . 결측값을 어디에서 어떤 식으로 했다. 
#라고 정리도 해둬줘 그래야 우리도 같이 보고 피드백 하뉘까

,precipitation,temp_mean,temp_highest,temp_lowest,PM10,PM2.5,humidity,sunshine_sum,sunshine_rate,wind_mean,wind_max,rental,year,month,day
0,1.1,-1.3,3.8,-5.1,34.0,17.0,39.1,8.3,86.5,1.4,3.8,4950,2018,1,1
1,2.3,-1.8,1.8,-4.3,36.0,22.0,42.0,7.9,82.3,1.8,4.9,7136,2018,1,2
2,2.3,-4.7,-0.4,-7.1,31.0,19.0,42.3,8.6,88.7,2.2,3.5,7156,2018,1,3
3,2.3,-4.7,-0.7,-8.7,39.0,24.0,43.0,6.2,63.9,1.4,3.5,7102,2018,1,4
4,2.3,-3.0,1.6,-5.6,51.0,35.0,48.4,8.2,84.5,1.7,3.6,7705,2018,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,0.0,5.8,10.0,1.4,70.0,42.0,62.9,5.9,61.5,1.8,2.8,37103,2020,12,27
1091,1.3,6.7,11.4,4.2,66.0,44.0,72.1,8.0,83.3,1.4,3.1,46912,2020,12,28
1092,0.2,0.1,4.3,-6.2,69.0,46.0,70.8,0.0,0.0,2.9,6.1,35747,2020,12,29
1093,2.8,-10.9,-6.2,-12.9,39.0,15.0,55.5,8.3,86.5,4.1,6.2,22488,2020,12,30
1094,0.0,-8.9,-5.0,-12.9,28.0,12.0,53.9,6.0,62.5,2.4,4.2,24535,2020,12,31

In [ ]:
# 결측값 다한 파일
# 상세명시 해서 이름파일 만들고
# 결측값 처리한걸 파일 하나 만들기 to_.csv 결측값 처리
#